<header id="header" >

  {% if page.headline %}
    <div id="headline" class="container-fluid">
      {{ page.headline }}
    </div>
  {% endif %}

  {% if page.main_navigation %}
  <div id="main-navigation" class="container-fluid">
        {{ page.main_navigation }}
  </div>
  {% endif %}
 
  <div class="container">
        {{ page.header }}
  </div>

</header>