{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{#<div class="well-searchbox">#}
  <form{{ attributes.addClass("row panel panel-responsive") }} id="responsive-search-bar" role="form">
    {{ children }}
  </form>
