/*************************
*******Home CSS******
**************************/

#description h1{
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: trebuchet, sans-serif;
  color: black;
  background-color: white;
}
/*************************
*******timeto CSS******
**************************/

#timeto {
  background-color: white; /*#DA413D; Grenadine*/
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(237,205,194,1);
  margin-bottom: 10px;
  padding: 10px;
}

#timeto h2 {
  display:inline;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-left: 10px;
  background-color: transparent !important;
}

#timeto .event_date p{
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
#countdown {
  display: inline;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 5px;
  /*margin-top: 20px;*/
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:first-child {
  margin-left: 10px;
}
#countdown li:last-child {
  margin-right: 0;
}

#countdown li span {
  font-size: 15px;
  font-weight: 700;
  height: 31px;
  line-height: 30px;
  width: 29px;
  border-radius: 2px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
  background-color: #efc94c; 
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}

#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}

#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}


/*************************
****Photo event CSS*******
**************************/
#sharephoto{
  background-color: black;/*#672E3B;    width: 100%; Tawny Port*/
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(237,205,194,1);
}

#flickr{
  position: relative;
  margin: auto;
  display: inline-block;
}
#flickr iframe{
  display: block;
  margin: auto;
  max-width: 100%;
}
/*************************
****Description CSS*******  background-color: #75B46E;  
**************************/
#description .img-banner img {
  width: 100%;
  height: auto;
}

#description {
  background-color: white;
}

#description h2 {
  text-align: center;
  margin-bottom: 23px;
  background-color: #ECECEC;
}

.description-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
}

#description .field--name-field-description{
  border-bottom: 1px solid rgba(237,205,194,1);
}

/* *********** tags style ******************* */

#description .tag-list{
  border: 1px solid rgba(237,205,194,1);
  padding: 10px;
  margin-top: 5px;
}

#description .tag-list p{
  display: block;
}

#description .tag-list div {
  display: inline;
}

#description .tag-list a {
    background-color: #767676;
    border-radius: 0 2px 2px 0;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.2727272727;
    margin: 2px 4px 2px 10px;
    padding: 3px 7px;
    position: relative;
    text-decoration: none;
}

#description .tag-list a:before {
    border-top: 10px solid transparent;
    border-right: 8px solid #767676;
    border-bottom: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
}

#description .tag-list a:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;
    top: 8px;
    left: -2px;
    width: 4px;
}

#description .tag-list a:hover  {
  background-color: #000;
}

#description .tag-list a:hover:before {
  border-right: 8px solid #000;
}

#description .description-content {
  border: 1px solid rgba(237,205,194,1);
  margin-right: 10px;
  padding: 10px;
}

#description .facebook-page{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

#description .event-map{
  margin-top: 10px;
}
/*************************
****Twitter CSS***********
**************************/
#twitter{
  background-color: white; /*island paradise  #95DEE3 #D2691E; autumn mapple*/
  position: relative;  
  width: 100%;
}

#twitter h2{
  text-align: center;
  font-family: 'Viga', sans-serif;
  color: #4F84C4; /*marina*/
}
 /* primrose yellow #F6D155*/

/*************************
****Contact CSS*******  background-color: #75B46E;  
**************************/
#description address {
  font-size: 18px;  
  color: #373737; 
  margin: 0.1em;
}
#description .contact-address {
  padding-bottom: 5px;
  margin-top: 5px;
}
#description .contact-address:first-of-type {
  border-bottom: 1px solid rgba(237,205,194,1);
}
#contact h3{
  background-color: #ECECEC;
  text-align: center;
  margin: 0 !important;
}
#contact{
  border: 1px solid rgba(237,205,194,1);
  margin-bottom: 10px;
  padding: 10px;
}