
.megaselectlistcolumn {
	width: 19%;
	margin: 0 1%;
	float: left;
}

.megaselectlist .currentitem {
	padding: 0;
	border: 0.1em dotted Green;
	color: Black;
}

/* Optional styles 	background-color: #F5F5F5;*/



.megaselectlistcolumn > h2 {
	font-size: 1em;
	background-color: #ECECEC;
	text-align: center;
	padding: 2px 0;
	margin: 0;
}

.megaselectlist > p {
	margin: 0.2em;
}

.megaselectlist > p > span {
	margin-top: -3px;
}

.megaselectlistcolumn > ul {
	padding-left: 1em;
	margin: 0;
	color: Gray;
}

.megaselectlistcolumn > ul > li {
	cursor: pointer;
	padding: 0.1em;
	font-size: small;
}

.megaselectlistcolumn > ul > li:hover {
	background-color: #ECECEC;
	color: Black;
}

/* CSS based expand and collapse */

#megaselectlist1 .megaselectlistoptions {
	display: none;
}

#megaselectlist1:hover .megaselectlistoptions {
	display: block;
	margin-top: 30px;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) { 
	#megaselectlist1:hover .megaselectlistoptions {
		display: block;
		margin-top: 30px;
		margin-right: -400%;
		margin-left: -200%;
	}
}

.button-search-bar input{
		margin-top: 15px;
}

/**********************************/



/* Hide the link that should open and close the search-form on small screens */
.menu-account .fa-search {
    display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 720px) {
  .panel-responsive {display: none;}
  .menu-account a.fa-search {
    float: right;
    display: block;
    right: 15px;
    top: 0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 720px) {
  .panel-responsive.responsive-bar {display: block;}
  .menu-account.responsive a.fa-search {
    position: absolute;
    right: 15px;
    top: 0;
  }
}

/*****************************************/