header{
	background-color: rgb(254,231,240);
}

.region-headline{
	background-color: rgb(253,233,224);
	margin-bottom:  : 5px;
	border: 1px solid black;
}

.block-user-account{
	justify-content: right;
	color: #336699; 
}

.menu-account li{
	display : inline;
	padding : 0 0.5em;
}

.region-main-navigation{
	background-color: rgb(253,233,224);
	margin-bottom:  : 2px;
	border: 1px solid black;
}

footer{
	background-color: rgb(254,231,240);
}

